SmartReport/Bkav.eGovCloud.Business/Service References/DVCService/DVCServiceHoSo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.microsoft.com/sharepoint/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://schemas.microsoft.com/sharepoint/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/sharepoint/soap/">
      <s:element name="CapNhatTinhHinhGiaiQuyetHoSoCapHuyen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="madonvi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="maxacthuc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="linhvuc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="thang" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sohstiepnhan" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sohsdaxuly" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sohsdunghan" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapNhatTinhHinhGiaiQuyetHoSoCapHuyenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CapNhatTinhHinhGiaiQuyetHoSoCapHuyenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CapNhatTinhHinhGiaiQuyetHoSoCapHuyenSoapIn">
    <wsdl:part name="parameters" element="tns:CapNhatTinhHinhGiaiQuyetHoSoCapHuyen" />
  </wsdl:message>
  <wsdl:message name="CapNhatTinhHinhGiaiQuyetHoSoCapHuyenSoapOut">
    <wsdl:part name="parameters" element="tns:CapNhatTinhHinhGiaiQuyetHoSoCapHuyenResponse" />
  </wsdl:message>
  <wsdl:portType name="DVCServiceHoSoSoap">
    <wsdl:operation name="CapNhatTinhHinhGiaiQuyetHoSoCapHuyen">
      <wsdl:input message="tns:CapNhatTinhHinhGiaiQuyetHoSoCapHuyenSoapIn" />
      <wsdl:output message="tns:CapNhatTinhHinhGiaiQuyetHoSoCapHuyenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DVCServiceHoSoSoap" type="tns:DVCServiceHoSoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CapNhatTinhHinhGiaiQuyetHoSoCapHuyen">
      <soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/CapNhatTinhHinhGiaiQuyetHoSoCapHuyen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DVCServiceHoSoSoap12" type="tns:DVCServiceHoSoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CapNhatTinhHinhGiaiQuyetHoSoCapHuyen">
      <soap12:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/CapNhatTinhHinhGiaiQuyetHoSoCapHuyen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DVCServiceHoSo">
    <wsdl:port name="DVCServiceHoSoSoap" binding="tns:DVCServiceHoSoSoap">
      <soap:address location="http://congdichvucong.phuyen.gov.vn/_layouts/phuyen/DVCServiceHoSo.asmx" />
    </wsdl:port>
    <wsdl:port name="DVCServiceHoSoSoap12" binding="tns:DVCServiceHoSoSoap12">
      <soap12:address location="http://congdichvucong.phuyen.gov.vn/_layouts/phuyen/DVCServiceHoSo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>