SmartReport/Bkav.eGovCloud.Business/Service References/FileManagerService/FileTransfer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileTransfer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IFileTransfer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:25573/FileTransfer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:25573/FileTransfer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:25573/FileTransfer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Bkav.eGovCloud.FileManagerService.DataObject" />
      <xsd:import schemaLocation="http://localhost:25573/FileTransfer.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Bkav.eGovCloud.Core.FileSystem" />
      <xsd:import schemaLocation="http://localhost:25573/FileTransfer.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FileDownloadInfo">
    <wsdl:part name="parameters" element="tns:FileDownloadInfo" />
  </wsdl:message>
  <wsdl:message name="FileDownloadResponse">
    <wsdl:part name="parameters" element="tns:FileDownloadResponse" />
  </wsdl:message>
  <wsdl:message name="FileUploadRequest">
    <wsdl:part name="parameters" element="tns:FileUploadRequest" />
  </wsdl:message>
  <wsdl:message name="FileUploadRequest_Headers">
    <wsdl:part name="FileLength" element="tns:FileLength" />
    <wsdl:part name="FileType" element="tns:FileType" />
  </wsdl:message>
  <wsdl:portType name="IFileTransfer">
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransfer/DownloadFile" name="FileDownloadInfo" message="tns:FileDownloadInfo" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransfer/DownloadFileResponse" name="FileDownloadResponse" message="tns:FileDownloadResponse" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransfer/UploadFile" name="FileUploadRequest" message="tns:FileUploadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransfer/UploadFileResponse" name="FileDownloadInfo" message="tns:FileDownloadInfo" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileTransfer" type="tns:IFileTransfer">
    <wsp:PolicyReference URI="#BasicHttpBinding_IFileTransfer_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/IFileTransfer/DownloadFile" style="document" />
      <wsdl:input name="FileDownloadInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FileDownloadResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IFileTransfer/UploadFile" style="document" />
      <wsdl:input name="FileUploadRequest">
        <soap:header message="tns:FileUploadRequest_Headers" part="FileLength" use="literal" />
        <soap:header message="tns:FileUploadRequest_Headers" part="FileType" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FileDownloadInfo">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileTransfer">
    <wsdl:port name="BasicHttpBinding_IFileTransfer" binding="tns:BasicHttpBinding_IFileTransfer">
      <soap:address location="http://localhost:25573/FileTransfer.svc/mex" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>