SmartReport/Bkav.eGovCloud/Service References/eGovLicense/License.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Bkav.eGovLicense.Service.Message" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Bkav.eGovLicense.Service.Message" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RegisterRequestMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestMessageBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterRequestMessage" nillable="true" type="tns:RegisterRequestMessage" />
  <xs:complexType name="RequestMessageBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublicKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestMessageBase" nillable="true" type="tns:RequestMessageBase" />
  <xs:complexType name="RegisterResponseMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseMessageBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateExprired" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NumberOfUsers" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterResponseMessage" nillable="true" type="tns:RegisterResponseMessage" />
  <xs:complexType name="ResponseMessageBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseMessageBase" nillable="true" type="tns:ResponseMessageBase" />
  <xs:complexType name="CheckLisenseRequestMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestMessageBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CurrentNumberOfUsers" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CheckLisenseRequestMessage" nillable="true" type="tns:CheckLisenseRequestMessage" />
  <xs:complexType name="CheckLisenceResponseMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseMessageBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateExprired" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumberOfUsers" type="xs:int" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CheckLisenceResponseMessage" nillable="true" type="tns:CheckLisenceResponseMessage" />
</xs:schema>