SmartReport/Bkav.eGovCloud/Service References/eGovLicense/License32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://egovlicense.bkav.com/License.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Bkav.eGovLicense.Service.Message" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Bkav.eGovLicense.Service.Message" minOccurs="0" name="message" nillable="true" type="q1:RegisterRequestMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Bkav.eGovLicense.Service.Message" minOccurs="0" name="RegisterResult" nillable="true" type="q2:RegisterResponseMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Bkav.eGovLicense.Service.Message" minOccurs="0" name="message" nillable="true" type="q3:CheckLisenseRequestMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLicenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Bkav.eGovLicense.Service.Message" minOccurs="0" name="CheckLicenseResult" nillable="true" type="q4:CheckLisenceResponseMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>